/* margin for table buttons */
.ReactTable .btn {
	margin-right: 5px;
}

.modal-header {
	font-weight: bold;
}

.todo {
	color: red;
}

.done {
	color: #259325;
}

.working {
	color: #0805f6;
}


/* custom padding to li */
@media (min-width: 768px) {
	.navbar-nav > li {
		padding: 15px;
	}
}

/* text align react table headers HACK*******/
.ReactTable .rt-thead .rt-tr {
	text-align: left !important;
}

#quotes {
	min-height: 30px;
	font-family: "Raleway", sans-serif, Helvetica;
	font-size: 24px;
	text-align: center;
	padding-top: 30px;
}

.searchText {
	width: 200px;
	margin-right: 10px;
}

.warn {
	color: red;
}